@font-face {
  font-family: 'Lato Light';
  src: url('assets/fonts/Lato-Light.ttf');
}

@font-face {
  font-family: 'Lato Regular';
  src: url('assets/fonts/Lato-Regular.ttf');
}

@font-face {
  font-family: 'Lato Bold';
  src: url('assets/fonts/Lato-Bold.ttf');
}

@font-face {
  font-family: 'Lato Black';
  src: url('assets/fonts/Lato-Black.ttf');
}
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  position: relative;
  top: 95px;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1020px;
  height: 89px;
  border: 1px solid #2d303a;
}
.slider {
  margin: auto;
  max-width: 1020px;
  height: 594px;
  position: relative;
  overflow: hidden;
}
.services {
  margin: auto;
  height: 496px;
  max-width: 1020px;
}
.header-wrapper {
  position: fixed;
  width: 100%;
  z-index: 10;
  border-bottom: 6px solid #323746;
  background-color: #2d303a;
}
.slider-wrapper {
  border-bottom: 6px solid #ea676b;
  background-color: #f06c64;
  scroll-margin-top: 95px;
  transition: all ease 1s;
}
.services-wrapper {
  border-bottom: 6px solid #ffffff;
  background-color: #f2f2f2;
  scroll-margin-top: 95px;
}
.header-nav {
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
  margin-top: 39px;
}
.menu-button {
  display: none;
}
.left-arrow {
  position: absolute;
  top: calc(50% - 15px);
  left: 40px;
  z-index: 5;
}

.right-arrow {
  position: absolute;
  top: calc(50% - 15px);
  right: 40px;
  z-index: 5;
}
.vertical {
  position: absolute;
  left: calc((112 / 1020) * 100%);
  top: calc((53 / 594) * 100%);
  z-index: 1;
  cursor: pointer;
  width: calc((216 / 1020) * 100%);
}
.horizontal {
  position: absolute;
  top: calc((174 / 594) * 100%);
  left: calc((425 / 1020) * 100%);
  z-index: 1;
  width: calc((458 / 1020) * 100%);
  cursor: pointer;
}
h1 {
  float: left;
  margin-left: 37px;
  margin-top: 24px;
  letter-spacing: 0.01px;
}
.asterisk {
  color: #f06c64;
  font-size: 25px;
  line-height: 6.32px;
  text-transform: uppercase;
  font-family: 'Lato Bold';
  margin-left: -10px;
}
.header-ul > li {
  display: inline-block;
  font-size: 12px;
  font-family: 'Lato Bold';
  line-height: 6.32px;
}
a {
  text-decoration: none;
  color: #ffffff;
}
a:link {
  text-decoration: none;
  color: #ffffff;
}

.header-li + li ::before {
  content: '.';
  display: block;
  width: 6px;
  height: 6px;
  margin-left: 5px;
  position: relative;
  right: 20px;
  top: 2px;
  color: #494e62;
}

.header-li + li {
  margin-left: 1px;
}

.logo {
  font-size: 25px;
  font-family: 'Lato Bold';
}

.header-li {
  margin-right: 23px;
  letter-spacing: 0.005em;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 32px 20px;
  margin-left: 40px;
  margin-top: 44px;
  margin-right: 40px;
}
.h2-pen,
.h2-lightbulb,
.h2-heart,
.h2-phone,
.h2-bubble,
.h2-star {
  color: #666d89;
  font-family: 'Lato Black';
  font-size: 18px;
  line-height: 17.86px;
}

.h1-service {
  margin-left: 40px;
  color: #666d89;
  font-family: 'Lato Black';
  font-size: 30px;
  line-height: 17.86px;
  margin-top: 72px;
}
.p-pen,
.p-lightbulb,
.p-heart,
.p-phone,
.p-bubble,
.p-star {
  color: #767e9e;
  font-family: 'Lato Regular';
  font-size: 12px;
  line-height: 21.56px;
  margin-top: 10px;
  text-align: justify;
  overflow: hidden;
}
.p-service {
  margin-left: 40px;
  color: #767e9e;
  font-family: 'Lato Light';
  font-size: 18px;
  line-height: 30px;
  margin-top: 27px;
  letter-spacing: -0.012em;
  text-align: justify;
  max-width: 939px;

  max-height: 60px;
  overflow: hidden;
}
.pen,
.lightbulb,
.heart,
.phone,
.bubble,
.star {
  display: flex;
}
.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
}
.service-img {
  width: 60px;
  height: 60px;
  margin-right: 20px;
}

.service-wrap {
  display: flex;
  flex-direction: column;
}
.header-li > a {
  font-family: 'Lato Bold';
  font-size: 12px;
}
.h2-bubble {
  word-spacing: 0.001em;
  letter-spacing: -0.02em;
}

/* singolo2 */

.portfolio-section-wrapper {
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
  scroll-margin-top: 94px;
}
.portfolio-section {
  margin: 0 auto;
  max-width: 1020px;
  height: 864px;
  padding: 73px 40px;
  margin-top: -2px;
}
.portfolio-header {
  color: #666d89;
  font-family: 'Lato Black';
  font-size: 30px;
  line-height: 17.86px;
  letter-spacing: 0.0135em;
}
.portfolio-description {
  margin-top: 27px;
  font-family: 'Lato Light';
  line-height: 30px;
  color: #767e9e;
  font-size: 18px;
  word-spacing: 0.01em;
  letter-spacing: -0.0135em;
}
.about-us-section-wrapper {
  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
  scroll-margin-top: 95px;
}
.about-us-section {
  margin: 0 auto;
  max-width: 1020px;
  height: 728px;
  padding: 67px 40px;
}
button > span {
  font-family: 'Lato Regular';
  font-weight: 400;
  font-size: 12px;
  line-height: 21.56px;
  margin: 3px 6px;
  word-spacing: 0.001em;
}
.button-all,
.button-web-design,
.button-graphic-design,
.button-artwork {
  border: 1px solid #666d89;
  border-radius: 5px;
  color: #767e9e;
  background: transparent;
  cursor: pointer;
  outline: none;
}

.filter {
  display: flex;
  list-style-type: none;
  justify-content: flex-start;
  margin-top: 7px;
}
.filter > li + li {
  margin-left: 10px;
}

.picture-grid {
  margin-top: 19px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 20px;
  overflow: hidden;
}
.portfolio-img:nth-child(n + 13) {
  display: none;
}

.team-container {
  display: flex;
  margin-top: 42px;
}
.team-member {
  max-width: 300px;
}
.team-member + .team-member {
  margin-left: 20px;
}
.team-member-contacts {
  display: flex;
  margin-top: 23px;
}
.team-member-contacts > li {
  list-style-type: none;
}

.team-member-contacts > li + li {
  margin-left: 8px;
}

.team-member-name {
  color: #666d89;
  font-family: 'Lato Black';
  line-height: 17.86px;
  font-size: 18px;
  margin-top: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.team-member-description {
  font-family: 'Lato Regular';
  font-size: 12px;
  line-height: 21.56px;
  color: #767e9e;
  margin-top: 10px;
  text-align: justify;
}
.about-us-header {
  font-family: 'Lato Black';
  font-size: 30px;
  line-height: 17.86px;
  color: #666d89;
  margin-top: 5px;
}
.about-us-desctiption {
  color: #767e9e;
  font-family: 'Lato Regular';
  line-height: 30px;
  font-size: 18px;
  margin-top: 26px;
  word-spacing: 0.001em;
  letter-spacing: -0.019em;
  text-align: justify;
}

/* singolo3 */

.get-a-quote-wrapper {
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
  scroll-margin-top: 95px;
}
.footer-wrapper {
  background-color: #2d303a;
}
.get-a-quote-section {
  max-width: 1020px;
  height: 647px;
  margin: 0 auto;
  padding: 71px 40px;
}
.footer {
  max-width: 1020px;
  height: 76px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}
ul > li {
  list-style-type: none;
}

.get-a-quote-form {
  display: flex;
  flex-direction: column;
  width: 619px;
  margin-top: 42px;
}
textarea {
  height: 164px;
  background-color: #d6564f;
  resize: none;
  border-radius: 5px;
  border: 1px solid #f06c64;
  padding-left: 13px;
  padding-top: 7px;
  color: #f0d8d9;
}
form > * + * {
  margin-top: 14px;
}
input {
  background-color: #d6564f;
  border-radius: 5px;
  border: 1px solid #f06c64;
  padding-left: 14px;
  padding-top: 12px;
  padding-bottom: 12px;
  height: 40px;
  color: #f0d8d9;
}

.form-and-info-wrapper {
  display: flex;
}
.footer-contacts {
  display: flex;
  padding-right: 40px;
  padding-top: 22px;
}
.footer-contacts > li + li {
  margin-left: 8px;
}
.get-a-quote-contact-info {
  width: 301px;
  margin-left: 20px;
  margin-top: 46px;
}
.get-a-quote-header {
  color: #f0d8d9;
  font-family: 'Lato Black';
  font-size: 30px;
  line-height: 17.86px;
}
.get-a-quote-description {
  color: #f0d8d9;
  font-family: 'Lato Light';
  font-size: 18px;
  line-height: 30px;
  margin-top: 25px;
  word-spacing: -0.018em;
  letter-spacing: -0.01em;
  text-align: justify;
}
.get-a-quote-contact-info-header {
  color: #f0d8d9;
  font-family: 'Lato Black';
  font-size: 18px;
  line-height: 17.86px;
}
.get-a-quote-contact-info-description {
  font-family: 'Lato Regular';
  font-size: 12px;
  line-height: 21.56px;
  color: #f0d8d9;
  margin-top: 9px;
  word-spacing: -0.018em;
  letter-spacing: 0.01em;
  text-align: justify;
}
.info {
  font-family: 'Lato Regular';
  font-size: 12px;
  line-height: 21.56px;
  color: #f0d8d9;
}
.copyright {
  margin-left: 40px;
  margin-top: 35px;
  margin-bottom: 33px;
  align-self: flex-start;
  margin-right: auto;
  font-size: 12px;
  line-height: 6px;
  color: #666d89;
  font-family: 'Lato Regular';
  letter-spacing: -0.01em;
}
::placeholder {
  color: #f48c8f;
  font-family: 'Lato Regular';
  font-size: 12px;
  line-height: 21.56px;
}
.get-a-quote-contact-info-contacts {
  margin-top: 25px;
  margin-left: 2px;
}

.get-a-quote-contact-info-contacts span {
  margin-left: 12px;
}
.submit-button {
  color: #886a30;
  font-family: 'Lato Bold';
  font-size: 14px;
  line-height: 17px;
  width: 136px;
  height: 38px;
  padding-left: 0;
  background-color: #fbc65f;
  border-radius: 5px;
  border: 1px solid #f06c64;
}

.address-img {
  margin-left: 2px;
}
span > a {
  text-decoration: none;
  color: #f0d8d9;
}

.telephone-link {
  margin-left: -2px;
}
.mail-link {
  margin-left: -7px;
}

/* stuff for DOM task */

@keyframes left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

@keyframes right {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}
.to-left {
  animation-name: left;
}

.from-right {
  animation-name: right;
}

.to-right {
  animation-name: right;
  animation-direction: reverse;
}

.from-left {
  animation-name: left;
  animation-direction: reverse;
}

.vertical-display {
  position: absolute;
  left: calc((126 / 1020) * 100%);
  top: calc((118 / 594) * 100%);
  z-index: 1;
  cursor: pointer;
  width: calc((188 / 1020) * 100%);
}
.horizontal-display {
  position: absolute;
  left: calc((485 / 1020) * 100%);
  top: calc((188 / 595) * 100%);
  z-index: 1;
  cursor: pointer;
  width: calc((333 / 1020) * 100%);
}
.active-menu {
  color: #f06c64;
}
.active-picture {
  outline: 5px solid #f06c64;
  outline-offset: -5px;
}

.active-filter {
  color: #dedede;
  border: 1px solid #c5c5c5;
}
#message-block {
  top: 0;
  left: 0;
  position: fixed;
  height: 100vh;
  width: 100vw;
  border: 2px solid black;
  background: #0005;
}
#message-block-content {
  width: 320px;
  height: 200px;
  font-size: 34px;
  font-family: 'Lato Bold';
  color: cyan;
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 160px);
  text-align: center;
  overflow: hidden;
}
#message-block-p {
  height: 50%;
  overflow: auto;
}
.hidden {
  display: none;
}
#close-button {
  background-color: #d6564f;
  border-radius: 5px;
  border: 1px solid #f06c64;
  width: 100px;
  color: white;
  font-family: 'Lato Regular';
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all ease 1s;
}
.slide-2 {
  z-index: 2;
}
#carousel > div.slide.slide-two > img {
  width: 100%;
  height: 100%;
}

.blue {
  background-color: #648bf0;
  border-bottom: 6px solid #648bf0;
}

.vertical-shadow,
.horizontal-shadow {
  position: absolute;
  z-index: 0;
}
.vertical-shadow {
  top: calc((53 / 594) * 100%);
  left: calc((112 / 1020) * 100%);
  width: calc((240 / 1020) * 100%);
}
.horizontal-shadow {
  top: calc((174 / 594) * 100%);
  left: calc((425 / 1020) * 100%);
  width: calc((483 / 1020) * 100%);
}
.carousel {
  height: 100%;
  overflow: hidden;
}

/* responsive */
@media (hover: hover) {
  a:hover {
    color: #f06c64;
  }
  .right-arrow:hover {
    opacity: 60%;
    cursor: pointer;
  }
  .left-arrow:hover {
    opacity: 60%;
    cursor: pointer;
  }
  li > button:hover {
    color: #dedede;
    border: 1px solid #c5c5c5;
  }
  li > a > img:hover {
    opacity: 70%;
  }
  .submit-button:hover {
    opacity: 70%;
    cursor: pointer;
  }
  span > a:hover {
    opacity: 75%;
  }
  .footer-contacts img:hover {
    opacity: 65%;
    cursor: pointer;
  }
}

@media (max-width: 1019px) {
  /* Header */

  /* slider */

  .slider {
    height: 452px;
  }
  .vertical {
    position: absolute;
    left: 84px;
    top: 41px;
    z-index: 1;
    cursor: pointer;
    width: 162px;
    height: 344px;
  }
  .vertical-display {
    position: absolute;
    left: 95px;
    top: 90px;
    z-index: 1;
    cursor: pointer;
    width: 142px;
    height: 251px;
  }

  .vertical-shadow {
    left: 84px;
    top: 41px;
    width: 181px;
    height: 364px;
  }

  .horizontal {
    position: absolute;
    top: 133px;
    left: 319px;
    z-index: 1;
    width: 344px;
    height: 162px;
    cursor: pointer;
  }
  .horizontal-display {
    position: absolute;
    left: 364px;
    top: 144px;
    z-index: 1;
    cursor: pointer;
    width: 250px;
    height: 141px;
  }
  .horizontal-shadow {
    top: 134px;
    left: 320px;
    width: 364px;
    height: 181px;
  }
  .right-arrow {
    position: absolute;
    top: 212px;
    right: 27px;
    z-index: 5;
  }
  .left-arrow {
    top: 212px;
    left: 29px;
  }

  /* Our services */

  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /* grid-gap: 39px 53px; */
    grid-gap: 54px 20px;

    margin-top: 32px;
  }
  .services {
    margin: auto;
    height: 664px;
    max-width: 1020px;
  }
  .h1-service {
    margin-left: 41px;

    font-size: 30px;
    line-height: 36px;
    margin-top: 39px;
  }

  .p-service {
    margin-left: 40px;
    color: #767e9e;
    font-family: 'Lato Light';
    font-size: 18px;
    line-height: 30px;
    margin-top: 18px;

    text-align: justify;
    max-width: 939px;
    max-height: 99px;

    margin-right: 40px;
  }

  /* portfolio */

  .portfolio-section {
    height: 1094px;
    padding: 73px 40px;
    margin-top: -2px;
    overflow: hidden;
  }
  .picture-grid {
    margin-top: 25px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 20px;
  }
  .portfolio-img {
    width: 100%;
  }
  .portfolio-description {
    letter-spacing: inherit;
  }

  /* About Us */

  .team-container {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
  }
  .team-member + .team-member {
    margin-left: 0;
  }
  .about-us-section {
    margin: 0 auto;
    max-width: 1020px;

    padding-top: 65px;
    padding-bottom: 66px;
    height: auto;
  }
  .team-member {
    width: 32%;
  }

  .team-member-img {
    width: 100%;
  }
  .team-member-name {
    margin-top: 10px;
  }
  .team-member-description {
    margin-top: 4px;
  }
  .team-member-contacts {
    margin-top: 11px;
  }
  /* Get a quote */

  .get-a-quote-form {
    width: 100%;
    margin-top: 23px;
  }
  .get-a-quote-section {
    height: auto;

    padding-top: 56px;
    padding-bottom: 42px;
    height: auto;
  }
  .get-a-quote-header {
    line-height: 36px;
  }
  .get-a-quote-description {
    margin-top: 15px;
  }
  form > * + * {
    margin-top: 10px;
  }
  .get-a-quote-contact-info {
    width: 50%;
    margin-left: 35px;
    margin-top: 26px;
  }
  .get-a-quote-contact-info-description {
    margin-top: 4px;
  }
  .get-a-quote-contact-info-contacts {
    margin-top: 15px;
    margin-left: 1px;
  }
  /* Footer */
}

@media (max-width: 767px) {
  /* Header */
  header {
    height: 71px;
    justify-content: center;
    align-items: center;
  }
  .header-ul > li {
    margin-bottom: 22px;
  }
  .header-li > a {
    font-size: 24px;
    line-height: 29px;
    margin-left: 71px;
  }
  .header-li + li ::before {
    display: none;
  }
  .header-wrapper {
    border-bottom: 3px solid #323746;
  }
  main {
    position: relative;
    top: 71px;
  }
  .slider-wrapper {
    scroll-margin-top: 71px;
    transition: all ease 1s;
  }
  .services-wrapper {
    scroll-margin-top: 71px;
  }
  .portfolio-section-wrapper {
    scroll-margin-top: 71px;
  }
  .about-us-section-wrapper {
    scroll-margin-top: 71px;
  }
  .get-a-quote-wrapper {
    scroll-margin-top: 71px;
  }
  .menu-button {
    display: block;
    width: 25px;
    height: 20px;
    background-image: url(./assets/images/Burger-menu-icon.png);
    cursor: pointer;
    position: absolute;
    left: 20px;
    top: 25px;
    z-index: 10;
  }
  header > h1 {
    z-index: 11;
    /* margin-left: 71px; */
    align-self: center;
    margin-left: 0;
    margin-top: 0;
  }
  .header-nav {
    margin-right: 0;
  }
  .header-li + li {
    margin-left: 0;
  }
  .header-ul {
    display: none;
  }
  .active-hamburger {
    transform: rotate(90deg);
  }
  .active-hamburger-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */

    height: 100vh;
    width: 278px;
    top: 0;
    left: 0;
    box-shadow: 150px 0px 0px 500px #2d303a66;
    background-color: #2d303a;
  }
  .active-header {
    position: relative;
    left: -50px;
  }
  /* slider */

  .slider {
    height: 221px;
  }
  .vertical {
    position: absolute;
    left: 41px;
    top: 20px;
    z-index: 1;
    cursor: pointer;
    width: 79px;
    height: 168px;
  }

  .vertical-display {
    position: absolute;
    left: 46px;
    top: 44px;
    z-index: 1;
    cursor: pointer;
    width: 69px;
    height: 122px;
  }

  .vertical-shadow {
    left: 41px;
    top: 20px;
    width: 88px;
    height: 178px;
  }

  .horizontal {
    position: absolute;
    top: 65px;
    left: 156px;
    z-index: 1;
    width: 168px;
    height: 79px;
    cursor: pointer;
  }
  .horizontal-display {
    position: absolute;
    left: 178px;
    top: 70px;
    z-index: 1;
    cursor: pointer;
    width: 122px;
    height: 69px;
  }
  .horizontal-shadow {
    top: 65px;
    left: 156px;
    width: 178px;
    height: 88px;
  }
  .right-arrow {
    position: absolute;
    top: 98px;
    right: 10px;
    width: 14px;
    height: 25px;
    z-index: 5;
  }
  .left-arrow {
    top: 98px;
    left: 10px;
    width: 14px;
    height: 25px;
  }

  /* Our services */

  .grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 15px;

    margin-top: 25px;
  }
  .services {
    height: auto;
  }
  .h1-service {
    margin-left: 32px;

    font-size: 30px;
    line-height: 36px;
    margin-top: 25px;
  }

  .p-service {
    margin-left: 40px;
    color: #767e9e;
    font-family: 'Lato Light';
    font-size: 18px;
    line-height: 30px;
    margin-top: 18px;
    /* letter-spacing: -0.012em; */
    text-align: left;
    /* max-width: 939px; */
    max-height: 215px;
    /* overflow: auto; */
    margin-right: 40px;
  }

  /* portfolio */

  .portfolio-section {
    height: auto;
    padding: 42px 30px;
    margin-top: -2px;
    overflow: hidden;
  }
  .picture-grid {
    margin-top: 25px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 14px 13px;
  }
  .portfolio-header {
    line-height: 36px;
  }
  .portfolio-description {
    margin-top: 14px;
  }
  .portfolio-img {
    width: 100%;
  }

  .portfolio-img:nth-child(n + 9) {
    display: none;
  }

  /* About Us */

  .team-container {
    display: flex;
    flex-direction: column;
    margin-top: 22px;
  }
  .team-member + .team-member {
    margin-left: 0;
  }
  .about-us-header {
    line-height: 36px;
  }
  .about-us-desctiption {
    margin-top: 14px;
    text-align: left;
  }
  .about-us-section {
    height: auto;

    padding-top: 33px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .team-member {
    width: 100%;
    max-width: 100%;
    margin-bottom: 34px;
  }
  .team-member-contacts {
    margin-top: 12px;
  }

  .team-member-img {
    width: 100%;
  }

  /* Get a quote */

  .get-a-quote-header {
    line-height: 36px;
  }

  .get-a-quote-form {
    /* display: flex;
    flex-direction: column; */
    width: 100%;
    margin-top: 19px;
  }
  .get-a-quote-section {
    /* max-width: 1020px; */
    height: auto;
    /* margin: 0 auto; */
    padding-top: 44px;
    padding-bottom: 42px;
    padding-left: 30px;
    padding-right: 30px;
    height: auto;
  }
  .form-and-info-wrapper {
    /* display: flex; */
    flex-direction: column;
  }
  .submit-button {
    width: 100%;
  }
  .get-a-quote-contact-info {
    width: 100%;
    margin-left: 0;
    margin-top: 32px;
  }

  /* Footer */

  .copyright {
    display: none;
  }
  .footer-contacts {
    padding-right: 0;
    padding-top: 22px;
    margin: 0 auto;
  }
}

@media (max-width: 374px) {
}
